/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Wildcard Selectors - Removes default styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
}

header{
    background-color: black;
    color: whitesmoke;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 4px gray;
}

#how-to-play{
    margin-top: 67px;
    padding: 10px;
    background: silver;
    border: 2px solid black;
    font-size: medium;
    display: inline-block;
    order: 1;
    width: 100%;
    height: 50vh;
}

#stock-options{
    padding: 10px;
    background: silver;
    border: 2px solid black;
    font-size: small;
    display: inline-block;
    order: 2;
    width: 100%;
    height: 50vh;    
}

#portfolio{
    padding: 10px;
    background: silver;
    border: 2px solid black;
    font-size: small;
    display: inline-block;
    order: 3;
    width: 100%;
    height: 50vh;
}

#daily-valuation{
    padding: 10px;
    background: silver;
    border: 2px solid black;
    font-size: small;
    display: inline-block;
    order: 4;
    width: 100%;
    height: 50vh;
}

table{
    border-collapse: collapse;
}

th{
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: lightgrey
}

tr:nth-child(odd) {
    background-color: whitesmoke
}

th, tr, td{
    padding-left: 10px;
    text-align: left;
}

button{
    border-radius: 5px;
    background-color: blue;
    color: whitesmoke;
    border: black 2px solid;
}

/* Media query - Tablets and above (768px) */
@media screen and (min-width: 768px) {
    #how-to-play{
        font-size: medium;
        width: 50%;
    }
    
    #stock-options{
        margin-top: 67px;
        font-size: medium;
        width: 50%;
    }

    #stock-options td{
        padding-left: 20px;
        padding-right: 20px;
    }

    #stock-options th{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #portfolio{
        font-size: medium;
        width: 50%;
    }
    
    #daily-valuation{
        font-size: medium;
        width: 50%;
    }       
}

/* Media query - Small laptops and above (1020px) */
@media screen and (min-width: 1020px) {
    #how-to-play{
        font-size: large;
        width: 50%;
    }
    
    #stock-options{
        margin-top: 67px;
        font-size: large;
        width: 50%;
    }
    
    #portfolio{
        font-size: large;
        width: 50%;
    }
    
    #daily-valuation{
        font-size: large;
        width: 50%;
    }

    button:hover{
        background-color: whitesmoke;
        color: blue;
    }
}

/* Media query - Small laptops and above (1027px) */
@media screen and (min-width: 1027px) {
    #stock-options td{
        padding-left: 50px;
        padding-right: 50px;
    }

    #stock-options th{
        padding-left: 50px;
        padding-right: 50px;
    }

    #my-holdings td{
        padding-left: 30px;
        padding-right: 30px;
    }

    #my-holdings th{
        padding-left: 30px;
        padding-right: 30px;
    }

}
